{{ define "views/index.html"}}
<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "layouts/header.html" .}}

<div class="row m-0 align-items-start">
  <div class="col justify-content-center d-flex">
    <form class="lg-shadow w-100" style="max-width: 576px" target="_blank">
      <div class="input-group">
        <input id="search" type="text" class="form-control" placeholder="App bundle ID"
          aria-label="Search by app bundle ID">
        <button class="btn btn-outline-secondary" type="submit"
          onclick="location.href = `/bundle/${document.querySelector('#search').value}`">Search</button>
      </div>
    </form>
  </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "layouts/footer.html" .}}

{{ end }}